.card {
    border-radius: 0.4rem;
    overflow: hidden;
    background: var(--off-white);
    box-shadow: var(--card-shadow);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.2s ease;
}

.card:hover {
    opacity: 0.7;
}

.card__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 18rem;
}

.card__text {
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

@media screen and (min-width: 1100px) {
    .grid .card:nth-child(1),
    .grid .card:nth-child(2),
    .grid .card:nth-child(5),
    .grid .card:nth-child(6) {
        grid-column: span 2;
        flex-direction: row-reverse;
    }

    .grid .card:nth-child(3) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
    
    .grid .card:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
    }

    .card--vertical {
        height: 50%;
    }
    
    .card--horisontal {
        width: 50%;
    }
}