.card {
    border: solid 0.1rem;
}

.card:nth-child(1) {
    grid-column: 1 / 3;
}

.card:nth-child(2) {
    grid-column: 1 / 3;
}

.card:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.card:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.card:nth-child(5) {
    grid-column: 2 / 4;
}

.card:nth-child(6) {
    grid-column: 2 / 4;
}