.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
    grid-auto-rows: auto;
    width: 85%;
    max-width: 1400px;
    justify-self: center;
    padding: 2.4rem 0;
}

@media screen and (min-width: 700px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1100px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}