header {
    background: var(--off-white);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.5% 0 7.5%
}

.header__menu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1.4rem;
}