* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-family: var(--headline-font);
    font-weight: 700;
    color: var(--rain);
    font-size: 2em;
}

h2 {
    font-family: var(--headline-font);
    font-weight: 700;
    color: var(--rain);
    font-size: 1.35em;
}

p {
    font-family: var(--text-font);
    font-weight: 400;
}

.list-item {
    font-family: var(--headline-font);
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

.list-item:hover {
    opacity: var(--hover-opacity);
}

.list-item--dark,
.p--dark {
    color: var(--charcoal);
}

.list-item--light,
.p--light {
    color: var(--off-white);
}

.logo {
    font-family: var(--headline-font);
    font-weight: 700;
    color: var(--wood);
    font-size: 2em;
    cursor: pointer;
}

.link {
    color: var(--rain);
    font-family: var(--text-font);
    text-decoration: underline;
    font-weight: 700;
}

.link:hover {
    opacity: var(--hover-opacity);
}