.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.modal--open {
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(10px);
    
}

.modal__content {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    background: var(--off-white);
    width: 85%;
    height: 85%;
    max-width: 1000px;
    padding: 2rem;
    border-radius: 0.4rem;
    box-shadow: var(--shadow);
    overflow: scroll;
}

.modal__image {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    object-position: center;
    margin: 0 0 1.3rem 0;
    border-radius: 0.4rem;
}

.modal__close-button {
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    transition: 0.2s ease;
}

.modal__close-button:hover {
    opacity: 0.6;
}

.modal__description {
    white-space: pre-line;
    line-height: 1.7;
}

@media screen and (min-width: 700px) {
    .modal__content {
        width: 60%;
        height: 80%;
    }
}