:root {
    --off-white: #f9f7f0;
    --charcoal: #0e1719;
    --wood: #6e5137;
    --rain: #3c507d;
    --headline-font: "Abhaya Libre", serif;
    --text-font: "Pontano Sans", sans-serif;
    --shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}